/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

html:has(.header__theme-menu-button_type_light:disabled) { --darkmode: 0; }

@media (prefers-color-scheme: light) {
    html { --darkmode: 0; }
}

@container root style(--darkmode: 0) {
    .page {
        --primary-color: #FFF1F7;
        --accent-color: #FF8DCB;
        --content-color: #353430;
        --bg-image: url('../images/cover-image-light.png');
    }
    .header-ornament {
        display: none;
    }
    .header__theme-menu-button {
        color: var(--content-color);
    }
}